.center {
    text-align: center;
    margin: auto;
    width: 60%;
}

.divcenter { /*https://www.w3schools.com/css/css_align.asp*/
    margin: auto;
    width: 60%;
}

#coche1{
    position:relative;
    height:20px;
    width:20px;
    left:100px;
    top:300px;
}

#coche2{
    position:relative;
    height:20px;
    width:20px;
    left:500px;
    top:300px;
}
