.center {
    text-align: center;
    margin: auto;
    width: 60%;
}

.divcenter { /*https://www.w3schools.com/css/css_align.asp*/
    margin: auto;
    position: relative;
}

#coche1{
    position: absolute;
    height:20px;
    width:20px;
    left:100px;
    top:280px;
}

#coche2{
    position:absolute;
    height:20px;
    width:20px;
    left:500px;
    top:280px;
}
/*borrar*/
.coches{
    position: absolute;
    height:20px;
    width:20px;
    left:100px;
    top:280px;
}